<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestPlanMetadata.html">
    <div class="page-header">
        <span class="header5">TestPlan Metadata</span>
    </div>
            
	<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Name</label>
						<input ng-model="selectedTestPlan.name" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Description</label>
						<input ng-model="selectedTestPlan.description" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>
			</div>
                    
			<div class="col-md-12">
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Type</label>
						<md-select ng-model="selectedTestPlan.type" ng-change="updateTransport();recordChanged(selectedTestPlan);">
							<md-option value="DataInstance">Data Instance</md-option>
							<md-option value="Isolated">Isolated</md-option>
						</md-select>
					</md-input-container>
				</div>

				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Version</label>
						<input ng-model="selectedTestPlan.version" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>
			</div>
                    
			<div class="col-md-12">
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Domain</label>
						<input ng-model="selectedTestPlan.domain" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>

				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Date</label>
						<input ng-model="selectedTestPlan.lastUpdateDate" ng-change="recordChanged(selectedTestPlan)" ng-disabled="true" type="text"/>
					</md-input-container>
				</div>
			</div>
		</div>
	</form>


	<div class="page-header">
        <span class="header5">Published Cover Page Informations</span>
    </div>

	<form name="resoruceBundleCoverPageForm" class="form-horizontal" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<md-input-container flex style="width: 100%;">
						<label>Title</label>
						<input ng-model="selectedTestPlan.coverPageTitle" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>

				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Sub Title</label>
						<input ng-model="selectedTestPlan.coverPageSubTitle" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>
			</div>
                    
			<div class="col-md-12">
				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Version</label>
						<input ng-model="selectedTestPlan.coverPageVersion" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>

				<div class="col-md-6">
					<md-input-container style="width: 100%;">
						<label>Date</label>
						<input ng-model="selectedTestPlan.coverPageDate" ng-change="recordChanged(selectedTestPlan)" type="text"/>
					</md-input-container>
				</div>
			</div>
		</div>
	</form>
</script>