<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestPlanMetadata.html">
    <div class="page-header">
        <span class="header4">TestPlan Metadata</span>
    </div>
            
	<form name="testplanMetaDataForm" class="form-horizontal" novalidate>
		<div class="row" style="margin:10px">
			<div class="col-md-12">
				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Name</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="name" ng-model="selectedTestPlan.name" required />
                    </div>
				</div>

				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Description</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="description" ng-model="selectedTestPlan.description" required />
                    </div>
				</div>
			</div>
                    
			<div class="col-md-12">
				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Type</label>
						<select class="form-control" name="type" ng-change="recordChanged()" ng-model="selectedTestPlan.type">
							<option value="DataInstance">Data Instance</option>
      						<option value="Isolated">Isolated</option>
                    	</select>
                    </div>
				</div>

				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Version</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="version" ng-model="selectedTestPlan.version" required />
                    </div>
				</div>
			</div>
                    
			<div class="col-md-12">
				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Date</label>
						<input class="form-control" type="text" ng-change="recordChanged()" ng-disabled="true" name="date" ng-model="selectedTestPlan.lastUpdateDate" required />
                    </div>
                </div>
			</div>

			{{selectedTestPlan}}
		</div>
	</form>


	<div class="page-header">
        <span class="header4">Resource Bundle Cover Page</span>
    </div>

	<form name="resoruceBundleCoverPageForm" class="form-horizontal" novalidate>
		<div class="row" style="margin:10px">
			<div class="col-md-12">
				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Title</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="coverPageTitle" ng-model="selectedTestPlan.coverPageTitle" required />
                    </div>
				</div>

				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Sub Title</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="coverPageSubTitle" ng-model="selectedTestPlan.coverPageSubTitle" required />
                    </div>
				</div>
			</div>
                    
			<div class="col-md-12">
				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Version</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="coverPageVersion" ng-model="selectedTestPlan.coverPageVersion" required />
                    </div>
				</div>

				<div class="col-md-5 col-margin">
					<div class="form-group">
						<label class="control-label">Date</label>
						<input class="form-control" type="text" ng-change="recordChanged()" name="coverPageDate" ng-model="selectedTestPlan.coverPageDate" required />
                    </div>
                </div>
			</div>
		</div>
	</form>
</script>