 <style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestCaseMetadata.html">
	<div ng-show="selectedTestCase">
		<div ng-cloak>
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="MetaData">
						<md-content class="md-padding">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<md-input-container style="width: 100%;">
											<label>Name</label>
											<input ng-model="selectedTestCase.name" ng-change="recordChanged(selectedTestCase);updateCurrentTitle('Test Case', selectedTestCase.name);" type="text"/>
										</md-input-container>
									</div>

									<div class="col-md-6">
										<md-input-container style="width: 100%;">
											<label>Description</label>
											<input ng-model="selectedTestCase.description" ng-change="recordChanged(selectedTestCase)" type="text"/>
										</md-input-container>
									</div>
								</div>
								<div ng-show="selectedTestPlan.transport" class="col-md-12">
									<div class="col-md-6">
										<md-input-container style="width: 100%;">
											<label>Protocol</label>
											<md-select ng-model="selectedTestCase.protocol" ng-change="recordChanged(selectedTestCase);">
												<md-option value="soap">SOAP</md-option>
											</md-select>
										</md-input-container>
									</div>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Test Story">
						<md-content class="md-padding">
							<div class="row">
								<uib-accordion close-others="true">
									<uib-accordion-group  is-open="TestStoryAccordi.description">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.description, 'fa-caret-right': !TestStoryAccordi.description}"></i>
												Description
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="teststorydesc" ng-model="selectedTestCase.testStepStory.teststorydesc"></textarea>
										</div>
									</uib-accordion-group>
									<uib-accordion-group  is-open="TestStoryAccordi.comments">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.comments, 'fa-caret-right': !TestStoryAccordi.comments}"></i>
												Comments
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="comments" ng-model="selectedTestCase.testStepStory.comments" required ></textarea>
										</div>
									</uib-accordion-group>
									<uib-accordion-group  is-open="TestStoryAccordi.preCondition">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.preCondition, 'fa-caret-right': !TestStoryAccordi.preCondition}"></i>
								 				Pre Condition
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="preCondition" ng-model="selectedTestCase.testStepStory.preCondition" required ></textarea>
										</div>
									</uib-accordion-group>
									<uib-accordion-group  is-open="TestStoryAccordi.postCondition">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.postCondition, 'fa-caret-right': !TestStoryAccordi.postCondition}"></i>
								 				Post Condition
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="postCondition" ng-model="selectedTestCase.testStepStory.postCondition" required ></textarea>
										</div>
									</uib-accordion-group>
									<uib-accordion-group  is-open="TestStoryAccordi.testObjectives">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.testObjectives, 'fa-caret-right': !TestStoryAccordi.testObjectives}"></i>
								 				Test Objectives
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="testObjectives" ng-model="selectedTestCase.testStepStory.testObjectives" required></textarea>
										</div>
									</uib-accordion-group>
									<uib-accordion-group  is-open="TestStoryAccordi.evaluationCriteria">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.evaluationCriteria, 'fa-caret-right': !TestStoryAccordi.evaluationCriteria}"></i>
								 				Evaluation Criteria
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="evaluationCriteria" ng-model="selectedTestCase.testStepStory.evaluationCriteria" required ></textarea>
										</div>
									</uib-accordion-group>
									<uib-accordion-group  is-open="TestStoryAccordi.notes">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': TestStoryAccordi.notes, 'fa-caret-right': !TestStoryAccordi.notes}"></i>
								 				Notes
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestCase)" name="notes" ng-model="selectedTestCase.testStepStory.notes" required />
										</div>
									</uib-accordion-group>
								</uib-accordion>
							</div>
						</md-content>
					</md-tab>
			</md-content>
		</div>
	</div>
</script> 