<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>

<script type="text/ng-template" id="EditTestStepMetadata.html">
	<ul class="nav nav-pills">
		<li class="active"><a data-toggle="pill" ng-click="selectedTestStepTab = 1"><i class="fa fa-file-text-o fa-fw"></i> MetaData</a></li>
		<li><a data-toggle="pill" ng-click="selectedTestStepTab = 2"><i class="fa fa-file-text-o fa-fw"></i> Test Story</a></li>
		<li><a data-toggle="pill" ng-click="selectedTestStepTab = 3; initHL7EncodedMessageTab();"><i class="fa fa-file-text-o fa-fw"></i> HL7 Encoded Message</a></li>
		<li><a data-toggle="pill" ng-click="selectedTestStepTab = 4; initTestData();"><i class="fa fa-file-text-o fa-fw"></i> Test Data</a></li>
		<li><a data-toggle="pill" ng-click="selectedTestStepTab = 5"><i class="fa fa-file-text-o fa-fw"></i> Validation</a></li>
		<li><a data-toggle="pill" ng-click="selectedTestStepTab = 6"><i class="fa fa-file-text-o fa-fw"></i> STD/NIST XML</a></li>
		<li><a data-toggle="pill" ng-click="selectedTestStepTab = 7"><i class="fa fa-file-text-o fa-fw"></i> Supplement Documents</a></li>
	</ul>
  	
	<div ng-show="selectedTestStepTab == 1">
		<form name="testcasegroupMetaDataForm" class="form-horizontal" novalidate>
			<div class="row" style="margin:12px">
				<div class="col-md-2">
					<label class="control-label">Name:</label>
				</div>
				<div class="col-md-10">
					<input class="form-control" type="text" ng-change="recordChanged()" name="name" ng-model="selectedTestStep.name" required />
				</div>
			</div>

			<div class="row" style="margin:12px">
				<div class="col-md-2">
					<label class="control-label">Description:</label>
				</div>
				<div class="col-md-10">
					<input class="form-control" type="text" ng-change="recordChanged()" name="description" ng-model="selectedTestStep.description" required />
				</div>
			</div>

			<div class="row" style="margin:12px">
				<div class="col-md-2">
					<label class="control-label">Integration Profile:</label>
				</div>
				<div class="col-md-10">
					<span ng-show="selectedIntegrationProfile">{{selectedIntegrationProfile.sectionTitle}}</span>
				</div>
			</div>

			<div ng-show="selectedIntegrationProfile" class="row" style="margin:12px">
				<div class="col-md-2">
					<label class="control-label">Conformance Profile:</label>
				</div>
				<div class="col-md-10">
					<span ng-show="selectedConformanceProfile">{{selectedConformanceProfile.name}}</span>
				</div>
			</div>
		</form>
	</div>

    <div ng-show="selectedTestStepTab == 2">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Description</label>
					<textarea froala ng-change="recordChanged()" name="teststorydesc" ng-model="selectedTestStep.testStepStory.teststorydesc"></textarea>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Comments</label>
					<textarea froala ng-change="recordChanged()" name="comments" ng-model="selectedTestStep.testStepStory.comments" required ></textarea>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Pre Condition</label>
					<textarea froala ng-change="recordChanged()" name="preCondition" ng-model="selectedTestStep.testStepStory.preCondition" required ></textarea>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Post Condition</label>
					<textarea froala ng-change="recordChanged()" name="postCondition" ng-model="selectedTestStep.testStepStory.postCondition" required ></textarea>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Test Objectives</label>
					<textarea froala ng-change="recordChanged()" name="testObjectives" ng-model="selectedTestStep.testStepStory.testObjectives" required></textarea>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Evaluation Criteria</label>
					<textarea froala ng-change="recordChanged()" name="evaluationCriteria" ng-model="selectedTestStep.testStepStory.evaluationCriteria" required ></textarea>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Notes</label>
					<textarea froala ng-change="recordChanged()" name="notes" ng-model="selectedTestStep.testStepStory.notes" required />
				</div>
			</div>
		</div>
	</div>

	<div ng-show="selectedTestStepTab == 3">
		<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="selectedTestStep.er7Message"></ui-codemirror>
	</div>

	<div ng-show="selectedTestStepTab == 4">
		<div class="row">
			<div class="col-md-12">
				<span class="pull-right">
					<div class="btn-group btn-group-sm" data-toggle="buttons">
    					<label class="btn btn-primary btn-xs" ng-click="changeUsageFilter();refreshTree();" ng-class="{'active':usageViewFilter === 'All'}">
        					<input type="radio">All Usages</input>
						</label>
						<label class="btn btn-primary btn-xs" ng-click="changeUsageFilter();refreshTree();" ng-class="{'active':usageViewFilter === 'RREC'}">
        					<input type="radio">R/RE/C Only</input>
						</label>
   					</div>
				</span>
			</div>
		</div>
		<div class="row">
        	<accordion close-others="false">
            	<accordion-group is-open="testDataAccordi.segmentList" panel-class="panel-primary">
                	<accordion-heading>
						<i class="fa" ng-class="{'fa-caret-down': testDataAccordi.segmentList, 'fa-caret-right': !testDataAccordi.segmentList}"></i>
                    	<i class="fa fa-file-text-o fa-fw"></i> Segments List
                	</accordion-heading>
					<div class="col-md-12">
                		<div class="table-responsive">
                    		<table class="table table-striped table-bordered">
                        		<thead>
                        			<tr class="tbl-header">
										<th class="col-md-4">Path</th>
                            			<th class="col-md-5">Line</th>
                            			<th class="col-md-2">Usage</th>
										<th class="col-md-1">Action</th>
                        			</tr>
                        		</thead>
                        		<tbody>
                        			<tr ng-repeat="segment in segmentList | filter:filterForSegmentList">
                            			<td class="col-md-4">
											{{segment.iPath}}
                            			</td>
										<td class="col-md-5">
											{{segment.segmentStr}}
                            			</td>
										<td class="col-md-2">
											{{segment.usagePath}}
                            			</td>
										<td class="col-md-1">
											<button title="Select Segment"
                                    			type="button" class="btn btn-primary btn-xs" ng-click="selectSegment(segment)">
                                        			<span><i class="fa fa-pencil fa-fw"></i> Select</span>
                            				</button>
                            			</td>
                        			</tr>
                        		</tbody>
                    		</table>
                		</div>
            		</div>
            	</accordion-group>

	            <accordion-group is-open="testDataAccordi.selectedSegment" panel-class="panel-primary">
    	            <accordion-heading>
						<i class="fa" ng-class="{'fa-caret-down': testDataAccordi.selectedSegment, 'fa-caret-right': !testDataAccordi.selectedSegment}"></i>
                    	<i class="fa fa-pencil fa-fw"></i> Selected Segment
                	</accordion-heading>
					<div class="col-md-12">
						<span class="pull-right">
							<button title="Make Segment TestData Cate. Template" type="button" class="btn btn-primary btn-xs" ng-click="createSegmentTemplate()">
                            	<span><i class="fa fa-pencil fa-fw"></i> Make Segment TestData Cate. Template</span>
                            </button>
						</span>
					</div>
					<div class="col-md-12">
						<span class="pull-right">
							<span ng-dropdown-multiselect="" options="colsData" selected-model="selectedCols" extra-settings="smartButtonSettings"></span>
						</span>
					</div>
                	<div class="col-md-12">
						<div class="table-responsive">
            				<table tt-table tt-params="segmentParams" class="table table-bordered table-fix-header table-condensed profile-table">
                				<thead>
                					<tr class="tbl-header">
                    					<th class="col-md-1">Path</th>
                            			<th class="col-md-1">Name</th>
                            			<th class="col-md-1" ng-show="isShow(1)">DT</th>
										<th class="col-md-1" ng-show="isShow(2)">Usage</th>
										<th class="col-md-1" ng-show="isShow(3)">Cardi.</th>
										<th class="col-md-1" ng-show="isShow(4)">Length</th>
										<th class="col-md-1" ng-show="isShow(5)">ValueSet</th>
										<th class="col-md-1" ng-show="isShow(6)">Predicate</th>
										<th class="col-md-1" ng-show="isShow(7)">Conf.Statement</th>
										<th class="col-md-1">Value</th>
										<th class="col-md-1">Test Data Cate.</th>
										<th class="col-md-1">Action</th>
                					</tr>
                				</thead>
                				<tbody></tbody>
            				</table>
        				</div>
            		</div>
            	</accordion-group>
            	
            	<accordion-group is-open="testDataAccordi.constraintList" panel-class="panel-primary">
    	            <accordion-heading>
						<i class="fa" ng-class="{'fa-caret-down': testDataAccordi.constraintList, 'fa-caret-right': !testDataAccordi.constraintList}"></i>
                    	<i class="fa fa-file-text-o fa-fw"></i> Constraints List
                	</accordion-heading>
                	<div>
                	</div>
            	</accordion-group>
        	</accordion>
        </div>
	</div>
</script>

<script type="text/ng-template" id="FieldTree.html">
	<tr tt-node is-branch="hasChildren(node)">
		<td class="col-md-1">
			{{minimizePath(node.iPath)}}
        </td>
		<td class="col-md-1">
			{{node.field.name}}
        </td>
		<td class="col-md-1" ng-show="isShow(1)">
			{{node.dt.label}}
        </td>
		<td class="col-md-1" ng-show="isShow(2)">
			{{node.field.usage}}
        </td>
		<td class="col-md-1" ng-show="isShow(3)">
			[{{node.field.min}}..{{node.field.max}}]
        </td>
		<td class="col-md-1" ng-show="isShow(4)">
			[{{node.field.minLength}}..{{node.field.maxLength}}]
        </td>
		<td class="col-md-1" ng-show="isShow(5)">
			{{findTable(node.field.table).bindingIdentifier}}
        </td>
		<td class="col-md-1" ng-show="isShow(6)">
			-
        </td>
		<td class="col-md-1" ng-show="isShow(7)">
			-
        </td>
		<td class="col-md-1">
			<input ng-hide="hasChildren(node)" class="form-control" type="text" ng-change="recordChanged();updateValue(node);" ng-model="node.value" required />
        </td>
		<td class="col-md-1">
			<select ng-hide="hasChildren(node)" class="form-control" ng-model="node.testDataCategorization" ng-change="recordChanged(); updateTestDataCategorization(node);"  ng-options="testDataCategorization for testDataCategorization in testDataCategorizations"/>
        </td>
		<td class="col-md-1">
			-
        </td>
    </tr>
</script>

<script type="text/ng-template" id="ComponentTree.html">
	<tr tt-node is-branch="hasChildren(node)">
		<td class="col-md-1">
			{{minimizePath(node.iPath)}}
        </td>
		<td class="col-md-1">
			{{node.component.name}}
        </td>
		<td class="col-md-1" ng-show="isShow(1)">
			{{node.dt.label}}
        </td>
		<td class="col-md-1" ng-show="isShow(2)">
			{{node.component.usage}}
        </td>
		<td class="col-md-1" ng-show="isShow(3)">
			[{{node.component.min}}..{{node.component.max}}]
        </td>
		<td class="col-md-1" ng-show="isShow(4)">
			[{{node.component.minLength}}..{{node.component.maxLength}}]
        </td>
		<td class="col-md-1" ng-show="isShow(5)">
			{{findTable(node.component.table).bindingIdentifier}}
        </td>
		<td class="col-md-1" ng-show="isShow(6)">
			-
        </td>
		<td class="col-md-1" ng-show="isShow(7)">
			-
        </td>
		<td class="col-md-1">
			<input ng-hide="hasChildren(node)" class="form-control" type="text" ng-change="recordChanged();updateValue(node);" ng-model="node.value" required />
        </td>
		<td class="col-md-1">
			<select ng-hide="hasChildren(node)" class="form-control" ng-model="node.testDataCategorization" ng-change="recordChanged(); updateTestDataCategorization(node);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations"/>
        </td>
		<td class="col-md-1">
			-
        </td>
    </tr>
</script>

<script type="text/ng-template" id="SubComponentTree.html">
	<tr tt-node is-branch="hasChildren(node)">
		<td class="col-md-1">
			{{minimizePath(node.iPath)}}
        </td>
		<td class="col-md-1">
			{{node.component.name}}
        </td>
		<td class="col-md-1" ng-show="isShow(1)">
			{{node.dt.label}}
        </td>
		<td class="col-md-1" ng-show="isShow(2)">
			{{node.component.usage}}
        </td>
		<td class="col-md-1" ng-show="isShow(3)">
			[{{node.component.min}}..{{node.component.max}}]
        </td>
		<td class="col-md-1" ng-show="isShow(4)">
			[{{node.component.minLength}}..{{node.component.maxLength}}]
        </td>
		<td class="col-md-1" ng-show="isShow(5)">
			{{findTable(node.component.table).bindingIdentifier}}
        </td>
		<td class="col-md-1" ng-show="isShow(6)">
			-
        </td>
		<td class="col-md-1" ng-show="isShow(7)">
			-
        </td>
		<td class="col-md-1">
			<input ng-hide="hasChildren(node)" class="form-control" type="text" ng-change="recordChanged();updateValue(node);" ng-model="node.value" required />
        </td>
		<td class="col-md-1">
			<select ng-hide="hasChildren(node)" class="form-control" ng-model="node.testDataCategorization" ng-change="recordChanged(); updateTestDataCategorization(node);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations"/>
        </td>
		<td class="col-md-1">
			-
        </td>
    </tr>
</script>

