<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<ng-include src="'views/edit/editTestPlan.html'"></ng-include>
<ng-include src="'views/edit/editTestCaseGroup.html'"></ng-include>
<ng-include src="'views/edit/editTestCase.html'"></ng-include>
<ng-include src="'views/edit/editTestStep.html'"></ng-include>
<div class="row" ng-show="!selectedTestPlan">
    <div class="col-md-12">
        <p>No Test Plan Selected.</p>
    </div>
</div>
<div ng-show="selectedTestPlan">
	<div class="row">
    	<div class="col-md-12 igl-page-header">
        	<span class="header4 pull-left">Test Plan: {{selectedTestPlan.name}}
            	<span style="margin-left:10px; font-size:12px;font-weight: normal" ng-show="autoSaving && !saved">Saving....</span>
            	<span style="margin-left:10px; font-size:14px;font-weight: normal" ng-show="saved && !hasChanges()"><i class="fa fa-check fa-fw green"></i> Saved</span>
				<span style="margin-left:10px; font-size:14px;font-weight: normal" ng-show="isChanged"><i class="fa fa-check fa-fw green"></i> Changed</span>
        	</span>
        	<span class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-info btn-sm">
						<span><i class="fa fa-download fa-fw"></i> Export</span>
					</button>
					<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu igl-menu" role="menu">
						<li><a class="point" ng-click="exportResourceBundleZip()">Export Resource Bundle</a></li>
						<li ng-disabled="true"><a ng-disabled="true" class="point">Export Json (Coming Soon)</a></li>
						<li><a class="point" ng-click="exportCoverHTML()">Cover Page HTML</a></li>
						<li><a class="point" ng-click="exportTestPackageHTML()">Test Package HTML</a></li>
						<li><a class="point" ng-click="exportProfileXMLs()">Export Profile XML ZIP</a></li>
					</ul>
				</div>
            	<button title="Close the IG Document" type="button" class="btn btn-sm btn-warning" ng-click="closeTestPlanEdit()">
            		<span><i class="fa fa-close fa-fw"></i>Close</span>
            	</button>
    		</span>
    	</div>
	</div>

	<div class="row">
    	<div class="col-md-1 col-1-percent" ng-show="hideToc" style="margin-right:6px">
        	<button title="Show Table of Contents" class="btn btn-xs btn-primary" ng-click="hideToc = !hideToc" style="background-color:#293856;">
            	<i class="fa fa-caret-right"></i>
        	</button>
   		</div>
    	<div ng-show="!hideToc" class="col-md-3">
        	<div class="panel panel-primary">
            	<div class="panel-heading panel-heading-collapsable" style="background-color:#293856;">
                	<i class="glyphicon glyphicon-list"></i> <strong>TestPlan Navigation Tree</strong>
                	<button title="Hide Table of Contents" class="btn btn-xs btn-default pull-right" style="margin:0px;background-color:#eeeeee;" ng-click="hideToc = !hideToc">
                    	<i class="fa fa-caret-left"></i>
                	</button>
            	</div>
            	<div class="panel-body" style="height:250px;overflow:scroll;">
                	<div class="toc-container">
                    	<div ng-include="'views/toc.html'"></div>
                	</div>
            	</div>
                </div>
                <br/>
  
	
				<div class="panel panel-warning">
				<div class="panel-heading panel-heading-collapsable" style="background-color:#395286;">
					<i class="glyphicon glyphicon-list"></i> <span><strong >IG Documents Tree</strong>
				</div>
				<div class="panel-body">
					<div class="toc-container">
						<div ng-include="'views/IgToc.html'"></div>
					</div>
				</div>
                </div>

                <div class="panel panel-warning">
                <div class="panel-heading panel-heading-collapsable" style="background-color:#4c70bb;">
                    <i class="glyphicon glyphicon-list"></i> <strong>Templates</strong>
                </div>
                <div class="panel-body" style="height:200px;overflow:scroll;">
                    <div class="toc-container">
                        <div ng-include="'views/TemplateToc.html'"></div>
                    </div>
                </div>
                </div>


        	</div>
        	
        	
    	
    
    	<div ng-class="{'col-md-9': !hideToc, 'col-md-11 col-98-5-percent':hideToc}">
        	<div class="panel panel-primary" >
            	<div class="panel-heading" style="background-color:#293856"><strong>Dashboard</strong></div>
            	<div class="panel-body" style="padding-bottom:100px height:200px;overflow:scroll;">
            <div class="col-md-12" ng-show="subview === null||subview===undefined|| !subview">
            <p> No Element Selected </p>
            </div>

                	<div id="edit" ng-show="subview !== undefined" style="width:100%">
                    	<ng-include src="subview"></ng-include>
                	</div>
            	</div>
        	</div>
    	</div>
        </div>
	</div>
</div>