<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>

<script type="text/ng-template" id="EditTestStepMetadata.html">
	<div ng-show="selectedTestStep">
		<ul class="nav nav-pills">
			<li ng-class="{active: isSelectedTestStepTab(1)}"><a data-toggle="pill" ng-click="changeTestStepTab(1);"><i class="fa fa-file-text-o fa-fw"></i> MetaData</a></li>
			<li ng-class="{active: isSelectedTestStepTab(2)}"><a data-toggle="pill" ng-click="changeTestStepTab(2);"><i class="fa fa-file-text-o fa-fw"></i> Test Story</a></li>
			<li ng-show="isNotManualTestStep()" ng-class="{active: isSelectedTestStepTab(3)}"><a data-toggle="pill" ng-click="changeTestStepTab(3); initHL7EncodedMessageTab();"><i class="fa fa-file-text-o fa-fw"></i> HL7 Encoded Message</a></li>
			<li ng-show="isNotManualTestStep()" ng-class="{active: isSelectedTestStepTab(4)}"><a data-toggle="pill" ng-click="changeTestStepTab(4); initTestData();"><i class="fa fa-file-text-o fa-fw"></i> Test Data</a></li>
			<li ng-show="isNotManualTestStep()" ng-class="{active: isSelectedTestStepTab(5)}"><a data-toggle="pill" ng-click="changeTestStepTab(5); initHL7EncodedMessageForOnlineValidationTab();resetValidation()"><i class="fa fa-file-text-o fa-fw"></i> Validation</a></li>
			<li ng-show="isNotManualTestStep()" ng-class="{active: isSelectedTestStepTab(6)}"><a data-toggle="pill" ng-click="changeTestStepTab(6); genSTDNISTXML(findTestCaseNameOfTestStep());"><i class="fa fa-file-text-o fa-fw"></i> STD/NIST XML</a></li>
			<li ng-show="isNotManualTestStep()" ng-class="{active: isSelectedTestStepTab(7)}"><a data-toggle="pill" ng-click="changeTestStepTab(7); generateSupplementDocuments();"><i class="fa fa-file-text-o fa-fw"></i> Supplement Documents</a></li>
		</ul>

		<div ng-show="isSelectedTestStepTab(1);">
			<form name="teststepMetaDataForm" class="form-horizontal" novalidate>
				<div class="row" style="margin-top:35px">
					<div class="col-md-12">
                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Name</label>
                                <input ng-model="selectedTestStep.name" ng-change="recordChanged(selectedTestStep); updateCurrentTitle('Test Step', selectedTestStep.name);" type="text"/>
                            </md-input-container>
                        </div>

                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Description</label>
                                <input ng-model="selectedTestStep.description" ng-change="recordChanged(selectedTestStep)" type="text"/>
                            </md-input-container>
                        </div>
					</div>
				</div>

				<div class="row" ng-show="selectedTestPlan.transport">
					<div class="col-md-12">
                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Type</label>
                                <md-select ng-model="selectedTestStep.type" ng-change="recordChanged(selectedTestStep);">
                                    <md-option value="TA_INITIATOR">TA_INITIATOR</md-option>
                                    <md-option value="TA_RESPONDER">TA_RESPONDER</md-option>
                                    <md-option value="SUT_INITIATOR">SUT_INITIATOR</md-option>
                                    <md-option value="SUT_RESPONDER">SUT_RESPONDER</md-option>
                                    <md-option value="SUT_MANUAL">SUT_MANUAL</md-option>
                                    <md-option value="TA_MANUAL">TA_MANUAL</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
					</div>
				</div>
				<div class="row" ng-show="!selectedTestPlan.transport">
					<div class="col-md-12">
                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Type</label>
                                <md-select ng-model="selectedTestStep.type" ng-change="recordChanged(selectedTestStep);">
                                    <md-option value="DATAINSTANCE">DATAINSTANCE</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
					</div>
				</div>

				<div class="row" ng-show="selectedIntegrationProfile">
					<div class="col-md-12">
						<button title="Delete Profile" type="button" class="btn btn-danger btn-xs" ng-click="deleteProfile();">
							<span><i class="fa fa-cross fa-fw"></i> Delete Profile (Make Manual TestStep)</span>
						</button>
					</div>
					
					<div class="col-md-12" style="margin-top:35px">
                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Integration Profile</label>
                                <input ng-model="selectedIntegrationProfile.sectionTitle" disabled type="text"/>
                            </md-input-container>
                        </div>

                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Conformance Profile</label>
                                <input ng-model="selectedConformanceProfile.name" disabled type="text"/>
                            </md-input-container>
                        </div>
					</div>

					<div class="col-md-12">
                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Test Data Specification</label>
                                <md-select ng-model="selectedTestStep.tdsXSL" ng-change="recordChanged(selectedTestStep);">
                                    <md-option value="">No Test Data Specification</md-option>
                                    <md-option value="Basic-TestDataSpecification">Basic TestDataSpecification</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div class="col-md-6">
                            <md-input-container style="width: 100%;">
                                <label>Juror Document</label>
                                <md-select ng-model="selectedTestStep.jdXSL" ng-change="recordChanged(selectedTestStep);">
                                    <md-option value="">No Juror Document</md-option>
                                    <md-option value="Superset-JurorDocument">Superset Juror Document</md-option>
                                    <md-option value="Z23-JurorDocument">Z23 Juror Document</md-option>
                                    <md-option value="Z32-Z33-Z42-JurorDocument">Z32-Z33-Z42 Juror Document</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
					</div>
				</div>
			</form>
		</div>

		<div ng-show="isSelectedTestStepTab(2);">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="teststorydesc" ng-model="selectedTestStep.testStepStory.teststorydesc"></textarea>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Comments</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="comments" ng-model="selectedTestStep.testStepStory.comments" required ></textarea>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Pre Condition</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="preCondition" ng-model="selectedTestStep.testStepStory.preCondition" required ></textarea>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Post Condition</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="postCondition" ng-model="selectedTestStep.testStepStory.postCondition" required ></textarea>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Test Objectives</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="testObjectives" ng-model="selectedTestStep.testStepStory.testObjectives" required></textarea>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Evaluation Criteria</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="evaluationCriteria" ng-model="selectedTestStep.testStepStory.evaluationCriteria" required ></textarea>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Notes</label>
						<textarea froala="froalaEditorOptions" ng-change="recordChanged(selectedTestStep)" name="notes" ng-model="selectedTestStep.testStepStory.notes" required />
					</div>
				</div>
			</div>
		</div>

		<div ng-show="isSelectedTestStepTab(3);">
			<div class="row">
				<div class="col-md-12">
				<span class="pull-left">
					<button type="button" class="btn btn-info btn-sm" ng-click="openCreateEr7TemplateModal()"><i class="fa fa-plus"></i>
                        New Er7 Message Template
                    </button>
				</span>
				</div>
			</div>

			<div class="col-md-12">
				<textarea rows="10" type="cb" class="form-control" id="er7-textarea"
							  ng-change="recordChanged(selectedTestStep)"
							  ng-model="selectedTestStep.er7Message"
							  wrap="off" style="overflow:auto;"/>
			</div>

		</div>

		<div ng-show="isSelectedTestStepTab(4);">
			<div class="row">
				<div class="col-md-6">
				<span class="pull-left">
					<button type="button" class="btn btn-info btn-xs" ng-click="openCreateMessageTemplateModal()"><i class="fa fa-plus"></i>
                        New TestData Categorization Template For Message
                    </button>
				</span>
				</div>
				<div class="col-md-6">
					<span class="pull-right">
						<div class="btn-group btn-group-sm" data-toggle="buttons">
    						<label class="btn btn-primary btn-xs" ng-click="changeUsageFilter();refreshTree();" ng-class="{'active':usageViewFilter === 'All'}">
        						<input type="radio">All Usages</input>
							</label>
							<label class="btn btn-primary btn-xs" ng-click="changeUsageFilter();refreshTree();" ng-class="{'active':usageViewFilter === 'RREC'}">
        						<input type="radio">R/RE/C Only</input>
							</label>
   						</div>
					</span>
				</div>
			</div>
			<div class="row" style="margin:10px;">
				<uib-accordion close-others="false">
					<uib-accordion-group is-open="testDataAccordi.segmentList">
						<uib-accordion-heading>
							<span ng-click="segmentListAccordionClicked()" style="color:white !important;">
								<i class="fa" ng-class="{'fa-caret-down': testDataAccordi.segmentList, 'fa-caret-right': !testDataAccordi.segmentList}"></i>
								<i class="fa fa-file-text-o fa-fw"></i> Segments List
							</span>
						</uib-accordion-heading>
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped table-bordered">
									<thead>
									<tr class="tbl-header">
										<th class="col-md-4">Path</th>
										<th class="col-md-5">Line</th>
										<th class="col-md-2">Usage</th>
										<th class="col-md-1">Action</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="segment in segmentList | filter:filterForSegmentList">
										<td class="col-md-4">
											{{segment.iPath}}
										</td>
										<td class="col-md-5">
											{{segment.segmentStr}}
										</td>
										<td class="col-md-2">
											{{segment.usagePath}}
										</td>
										<td class="col-md-1">
											<button title="Select Segment"
													type="button" class="btn btn-primary btn-xs" ng-click="selectSegment(segment)">
												<span><i class="fa fa-pencil fa-fw"></i> Select</span>
											</button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</uib-accordion-group>

					<uib-accordion-group is-open="testDataAccordi.selectedSegment">
						<uib-accordion-heading>
							<span ng-click="segmentAccordionClicked()" style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': testDataAccordi.selectedSegment, 'fa-caret-right': !testDataAccordi.selectedSegment}"></i>
								<i class="fa fa-pencil fa-fw"></i> Selected Segment
							</span>
						</uib-accordion-heading>
						<div class="col-md-12" ng-if="!selectedSegmentNode.segment"><p style ="color:red;"> No Segment Selected</p></div>

						<div class="col-md-12" ng-if="selectedSegmentNode.segment">
							<div class="row">
								<span class="pull-left">
									<button type="button" class="btn btn-info btn-xs" ng-click="openCreateSegmentTemplateModal()"><i class="fa fa-plus"></i>
                        				New TestData Categorization Template For Segment
                    				</button>
								</span>

								<span class="pull-right">
									<span ng-dropdown-multiselect="" options="colsData" selected-model="selectedCols" extra-settings="smartButtonSettings"></span>
								</span>
							</div>
							<div class="row" style="margin:12px">
								<div class="col-md-2">
									<label class="control-label">Selected Segment:</label>
								</div>
								<div class="col-md-10">
									<input class="form-control" type="text" disabled ng-model="selectedSegmentNode.segment.iPath" />
								</div>
							</div>

							<div class="row" style="margin:12px">
								<div class="col-md-2">
									<label class="control-label">Line String:</label>
								</div>
								<div class="col-md-10">
									<input class="form-control" type="text" disabled ng-model="selectedSegmentNode.segment.segmentStr" />
								</div>
							</div>

							<div class="col-md-12">
								<div class="table-responsive">
									<table tt-table tt-params="segmentParams" class="table table-bordered table-fix-header table-condensed profile-table">
										<thead>
										<tr class="tbl-header">
											<th class="col-md-1">Path</th>
											<th class="col-md-1">Name</th>
											<th class="col-md-1" ng-show="isShow(1)">DT</th>
											<th class="col-md-1" ng-show="isShow(2)">Usage</th>
											<th class="col-md-1" ng-show="isShow(3)">Cardi.</th>
											<th class="col-md-1" ng-show="isShow(4)">Length</th>
											<th class="col-md-1" ng-show="isShow(5)">ValueSet</th>
											<th class="col-md-1" ng-show="isShow(6)">Predicate</th>
											<th class="col-md-1" ng-show="isShow(7)">Conf.Statement</th>
											<th class="col-md-1">Value</th>
											<th class="col-md-1">Test Data Cate.</th>
											<th class="col-md-1">Action</th>
										</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</uib-accordion-group>

					<uib-accordion-group is-open="testDataAccordi.constraintList">
						<uib-accordion-heading>
							<span ng-click="constraintAccordionClicked()" style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': testDataAccordi.constraintList, 'fa-caret-right': !testDataAccordi.constraintList}"></i>
								<i class="fa fa-file-text-o fa-fw"></i> TestData Categorization List
							</span>
						</uib-accordion-heading>
						<div class="col-md-12">
							<div class="table-responsive">
								<table st-table="displayedCollection" st-safe-src="listOfTDC" class="table table-striped">
									<thead>
									<tr>
										<th st-sort="iPath">Path</th>
										<th st-sort="name">Name</th>
										<th st-sort="testDataCategorization">TestData Categorization</th>
										<th st-sort="listData">Data</th>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cate in displayedCollection">
											<td>{{cate.iPath}}</td>
											<td>{{cate.name}}</td>
											<td>{{cate.testDataCategorization}}</td>
											<td>
												<input ng-show="cate.testDataCategorization == 'Value-Test Case Fixed List'" class="form-control" ng-model="cate.listData" ng-list disabled>
												<input ng-show="cate.testDataCategorization != 'Value-Test Case Fixed List'" class="form-control" ng-model="cate.data" disabled>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</uib-accordion-group>
				</uib-accordion>
			</div>
		</div>

		<div ng-show="isSelectedTestStepTab(5);">
			<div class="container">
			<div class="row container">

				<span class="pull-right">
						<div class="btn-group" data-toggle="buttons">
    						<label class="btn btn-primary " ng-click="validate('free')" ng-class="{'active':context === 'free'}">
        						<input type="radio">Context Free</input>
							</label>
							<label class="btn btn-primary " ng-click="validate('based')" ng-class="{'active':context === 'based'}">
        						<input type="radio">Context Based</input>
							</label>
   						</div>
					</span>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading panel-heading-collapsable" style="background-color:#395286;">
					<i class="glyphicon glyphicon-list"></i> <span><strong >Message Content</strong>
					<a style="color:white !important"><span class="pull-right" title="Load Initial Message" ng-click="resetValidation();">
                                       <strong><i class="fa fa-refresh" aria-hidden="true"></i><span style="margin-left:3px;">Reload
                                    </span> </span></strong></a> 
				</div>
				<div class="panel-body">
					<div class="toc-container">
						<textarea ng-if="!refreshingMessage" rows="10" type="cb" class="form-control" id="er7-textarea-validation"
							  ng-change="recordChanged(selectedTestStep)"
							  ng-model="er7MessageOnlineValidation"
							  wrap="off" style="overflow:auto;"></textarea>
					</div>
				</div>
             </div>


             <div class="panel panel-warning">
				<div class="panel-heading panel-heading-collapsable" style="background-color:#395286;">
					<span><strong>Validation Result <span ng-if="context=='free'||context=='based'" style="font-style:italic;">: Context-{{context}}</span></strong>
					<a style="color:white !important"><span class="pull-right" title="View Result Categories" ng-click="showValidationInfo()">
                                       <strong><i class="fa fa-info-circle" style="margin-right:3px;"></i>Help
                                    </span></strong></a>     
                                    
					</div>
					<div class="panel-body" ng-if="contextValidation">
							<div ng-if="validationError" class="alert alert-danger ng-binding" role="validationError">
  								<strong>Cannot validate this message: 
  					 												</strong> 
  									 <br/>
  									Reason :{{validationError}}
							</div> 
							<div ng-if="!loadingv&&!validationError">
			
							<button ng-if="report" class="pull-right" title="View Result Categories" ng-click="showReport()">
                                   	<strong><i class="fa fa-eye"></i> Report 
                                    </button>
                      
							<ng-include src="validationView"></ng-include>
								
							</div>
			
							<div ng-if="loadingv"> 
							Performing <span style="font-style:italic;">Context-{{context}}</span> Validation ...
							</div>

             		</div>


 			</div>

		</div>

</div>

		<div ng-show="selectedTestStepTab == 6">
			<div class="row" style="margin:10px; margin-top:30px;">
				<uib-accordion close-others="true">
					<uib-accordion-group  is-open="nistStd.nist">
						<uib-accordion-heading>
							<span style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': nistStd.nist, 'fa-caret-right': !nistStd.nist}"></i>
								 NIST XML  
							</span>
						</uib-accordion-heading>
						<textarea style="width:100%" ng-model="selectedTestStep.nistXMLCode" readonly rows="30"/>
					</uib-accordion-group>

					<uib-accordion-group is-open="nistStd.std">
						<uib-accordion-heading>
							<span style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': nistStd.std, 'fa-caret-right': !nistStd.std}"></i>
								 STD XML 
							</span>
						</uib-accordion-heading>
						<textarea style="width:100%" ng-model="selectedTestStep.stdXMLCode"  readonly rows="30"/>
					</uib-accordion-group>
				</uib-accordion>
			</div>
		</div>
		<div ng-show="selectedTestStepTab == 7">
			<div class="row" style="margin:10px; margin-top:30px;">
				<uib-accordion close-others="true">
					<uib-accordion-group  is-open="DocAccordi.messageContents">
						<uib-accordion-heading>
							<span style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': DocAccordi.messageContents, 'fa-caret-right': !DocAccordi.messageContents}"></i>
								 Message Content
							</span>
						</uib-accordion-heading>
						<div dynamic="messageContentsHTML"></div>
					</uib-accordion-group>

					<uib-accordion-group  is-open="DocAccordi.testdata">
						<uib-accordion-heading>
							<span style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': DocAccordi.testdata, 'fa-caret-right': !DocAccordi.testdata}"></i>
								 Test Data Specification
							</span>
						</uib-accordion-heading>
						<div dynamic="testDataSpecificationHTML"></div>
					</uib-accordion-group>

					<uib-accordion-group  is-open="DocAccordi.jurorDocument">
						<uib-accordion-heading>
							<span style="color: white !important;">
								<i class="fa" ng-class="{'fa-caret-down': DocAccordi.jurorDocument, 'fa-caret-right': !DocAccordi.jurorDocument}"></i>
								 Juror Document
							</span>
						</uib-accordion-heading>
						<ng-bind-html ng-bind-html="jurorDocumentsHTML"/>
					</uib-accordion-group>
				</uib-accordion>
			</div>
		</div>
	</div>

</script>

<script type="text/ng-template" id="FieldTree.html">
	<tr tt-node is-branch="hasChildren(node)">
		<td class="col-md-1">
			{{selectedSegmentNode.segment.obj.name}}-{{minimizePath(node.iPath)}}
        </td>
		<td class="col-md-1">
			{{node.field.name}}
        </td>
		<td class="col-md-1" ng-show="isShow(1)">
			<div ng-show="!node.dt.ext">
				{{node.dt.name}}
			</div>
			<div ng-show="node.dt.ext">
				{{node.dt.name}}_{{node.dt.ext}}
			</div>
        </td>
		<td class="col-md-1" ng-show="isShow(2)">
			<div ng-show="!node.predicate">
				{{node.field.usage}}
			</div>
			<div ng-show="node.predicate">
				{{node.field.usage}} ({{node.predicate.trueUsage}}/{{node.predicate.falseUsage}})
			</div>
        </td>
		<td class="col-md-1" ng-show="isShow(3)">
			[{{node.field.min}}..{{node.field.max}}]
        </td>
		<td class="col-md-1" ng-show="isShow(4)">
			[{{node.field.minLength}}..{{node.field.maxLength}}]
        </td>
		<td class="col-md-1" ng-show="isShow(5)">
			{{findTable(node.field.table).bindingIdentifier}}
        </td>
		<td class="col-md-1" ng-show="isShow(6)">
			<span>{{node.predicate.description}}</span>
        </td>
		<td class="col-md-1" ng-show="isShow(7)">
			<div ng-repeat="cs in node.conformanceStatments">
				<span>{{cs.constraintId}} : {{cs.description}}</span>
			</div>
        </td>
		<td class="col-md-1">
			<div ng-hide="hasChildren(node)">
				<input ng-hide="hasChildren(node)" class="form-control" type="text" ng-change="recordChanged(selectedTestStep);updateValue(node);" ng-model="node.value" required />
			</div>
        </td>
		<td class="col-md-1">
			<div ng-hide="hasChildren(node)">
				<select class="form-control" ng-model="node.testDataCategorization" ng-change="recordChanged(selectedTestStep); updateTestDataCategorization(node);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations">
					<option value="">No test data Cate.</option>
				</select>
				<div ng-show="node.testDataCategorization === 'Value-Test Case Fixed List'">
					<input ng-model="node.testDataCategorizationListData" class="form-control"  ng-list ng-change="recordChanged(selectedTestStep); updateTestDataCategorizationListData(node);">
				</div>
			</div>
		</td>
		<td class="col-md-1">
			<button ng-show="!minimizePath(node.iPath).includes('[') && node.field.max != '0' && node.field.max != '1'" title="Delete Repeated Field" type="button" class="btn btn-info btn-xxs" ng-click="addRepeatedField(node)">
				<span><i class="fa fa-plus fa-fw"></i> Add Field</span>
			</button>
			<button ng-show="minimizePath(node.iPath).includes('[')" title="Delete Repeated Field" type="button" class="btn btn-danger btn-xxs" ng-click="deleteRepeatedField(node)">
				<span><i class="fa fa-times fa-fw"></i> Del Field</span>
			</button>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="ComponentTree.html">
	<tr tt-node is-branch="hasChildren(node)">
		<td class="col-md-1">
			{{selectedSegmentNode.segment.obj.name}}-{{minimizePath(node.iPath)}}
        </td>
		<td class="col-md-1">
			{{node.component.name}}
        </td>
		<td class="col-md-1" ng-show="isShow(1)">
			<div ng-show="!node.dt.ext">
				{{node.dt.name}}
			</div>
			<div ng-show="node.dt.ext">
				{{node.dt.name}}_{{node.dt.ext}}
			</div>
        </td>
		<td class="col-md-1" ng-show="isShow(2)">
			<div ng-show="!node.predicate">
				{{node.component.usage}}
			</div>
			<div ng-show="node.predicate">
				{{node.component.usage}} ({{node.predicate.trueUsage}}/{{node.predicate.falseUsage}})
			</div>
        </td>
		<td class="col-md-1" ng-show="isShow(3)">
			[{{node.component.min}}..{{node.component.max}}]
        </td>
		<td class="col-md-1" ng-show="isShow(4)">
			[{{node.component.minLength}}..{{node.component.maxLength}}]
        </td>
		<td class="col-md-1" ng-show="isShow(5)">
			{{findTable(node.component.table).bindingIdentifier}}
        </td>
		<td class="col-md-1" ng-show="isShow(6)">
			<span>{{node.predicate.description}}</span>
		</td>
		<td class="col-md-1" ng-show="isShow(7)">
			<div ng-repeat="cs in node.conformanceStatments">
				<span>{{cs.constraintId}} : {{cs.description}}</span>
			</div>
		</td>
		<td class="col-md-1">
			<div ng-hide="hasChildren(node)">
				<input ng-hide="hasChildren(node)" class="form-control" type="text" ng-change="recordChanged(selectedTestStep);updateValue(node);" ng-model="node.value" required />
			</div>
		</td>
		<td class="col-md-1">
			<div ng-hide="hasChildren(node)">
				<select class="form-control" ng-model="node.testDataCategorization" ng-change="recordChanged(selectedTestStep); updateTestDataCategorization(node);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations">
					<option value="">No test data Cate.</option>
				</select>
				<div ng-show="node.testDataCategorization === 'Value-Test Case Fixed List'">
					<input ng-model="node.testDataCategorizationListData" class="form-control"  ng-list ng-change="recordChanged(selectedTestStep); updateTestDataCategorizationListData(node);">
				</div>
			</div>
		</td>
		<td class="col-md-1">
			-
        </td>
    </tr>
</script>

<script type="text/ng-template" id="SubComponentTree.html">
	<tr tt-node is-branch="hasChildren(node)">
		<td class="col-md-1">
			{{selectedSegmentNode.segment.obj.name}}-{{minimizePath(node.iPath)}}
        </td>
		<td class="col-md-1">
			{{node.component.name}}
        </td>
		<td class="col-md-1" ng-show="isShow(1)">
			<div ng-show="!node.dt.ext">
				{{node.dt.name}}
			</div>
			<div ng-show="node.dt.ext">
				{{node.dt.name}}_{{node.dt.ext}}
			</div>
        </td>
		<td class="col-md-1" ng-show="isShow(2)">
			<div ng-show="!node.predicate">
				{{node.component.usage}}
			</div>
			<div ng-show="node.predicate">
				{{node.component.usage}} ({{node.predicate.trueUsage}}/{{node.predicate.falseUsage}})
			</div>
        </td>
		<td class="col-md-1" ng-show="isShow(3)">
			[{{node.component.min}}..{{node.component.max}}]
        </td>
		<td class="col-md-1" ng-show="isShow(4)">
			[{{node.component.minLength}}..{{node.component.maxLength}}]
        </td>
		<td class="col-md-1" ng-show="isShow(5)">
			{{findTable(node.component.table).bindingIdentifier}}
        </td>
		<td class="col-md-1" ng-show="isShow(6)">
			<span>{{node.predicate.description}}</span>
		</td>
		<td class="col-md-1" ng-show="isShow(7)">
			<div ng-repeat="cs in node.conformanceStatments">
				<span>{{cs.constraintId}} : {{cs.description}}</span>
			</div>
		</td>
		<td class="col-md-1">
			<div ng-hide="hasChildren(node)">
				<input ng-hide="hasChildren(node)" class="form-control" type="text" ng-change="recordChanged(selectedTestStep);updateValue(node);" ng-model="node.value" required />
			</div>
		</td>
		<td class="col-md-1">
			<div ng-hide="hasChildren(node)">
				<select class="form-control" ng-model="node.testDataCategorization" ng-change="recordChanged(selectedTestStep); updateTestDataCategorization(node);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations">
					<option value="">No test data Cate.</option>
				</select>
				<div ng-show="node.testDataCategorization === 'Value-Test Case Fixed List'">
					<input ng-model="node.testDataCategorizationListData" class="form-control"  ng-list ng-change="recordChanged(selectedTestStep); updateTestDataCategorizationListData(node);">
				</div>
			</div>
		</td>
		<td class="col-md-1">
			-
        </td>
    </tr>
</script>

<script type="text/ng-template" id="MessageTemplateCreationModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Set Name of Message Template</h3>
	</div>
	<div class="modal-body">
		<div class="row" style="margin:12px">
			<div class="col-md-2">
				<label class="control-label">Name:</label>
			</div>
			<div class="col-md-10">
				<input class="form-control" type="text" ng-change="recordChanged(selectedTestStep)" name="name" ng-model="newMessageTemplate.name" required />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default btn-sm" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
		</button>
		<button class="btn btn-info btn-sm" ng-click="createMessageTemplate()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Create</span>
		</button>
	</div>
</script>

<script type="text/ng-template" id="SegmentTemplateCreationModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Set Name of Segment Template</h3>
	</div>
	<div class="modal-body">
		<div class="row" style="margin:12px">
			<div class="col-md-2">
				<label class="control-label">Name:</label>
			</div>
			<div class="col-md-10">
				<input class="form-control" type="text" ng-change="recordChanged(selectedTestStep)" name="name" ng-model="newSegmentTemplate.name" required />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default btn-sm" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
		</button>
		<button class="btn btn-info btn-sm" ng-click="createSegmentTemplate()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Create</span>
		</button>
	</div>
</script>

<script type="text/ng-template" id="Er7TemplateCreationModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Set Name of Er7 Template</h3>
	</div>
	<div class="modal-body">
		<div class="row" style="margin:12px">
			<div class="col-md-2">
				<label class="control-label">Name:</label>
			</div>
			<div class="col-md-10">
				<input class="form-control" type="text" ng-change="recordChanged(selectedTestStep)" name="name" ng-model="newEr7Template.name" required />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default btn-sm" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
		</button>
		<button class="btn btn-info btn-sm" ng-click="createEr7Template()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Create</span>
		</button>
	</div>
</script>
<script type="text/ng-template" id="validation.html">
<uib-tabset active="active">
				<uib-tab ng-repeat="(key, value) in validationResult.detections" ng-if="key!=='Affirmative'">
     			 <uib-tab-heading>
        				 {{key}}s
     			 </uib-tab-heading>
				<uib-tabset active="active">
				<uib-tab>
     				 <uib-tab-heading>
        				<span class="badge">{{getAllValue(validationResult.detections[key]).length}}</span> All
     			 	</uib-tab-heading>
    			 	<table class="table table-striped table-bordered">
     			 <thead class="tbl-header" style="background-color: #4c70bb !important;">
     			 	<th>Path</th>
     			 	<th>Description</th>
     			 	<th>Line#</th>
     			 </thead>
     			 <tbody>
     			 
     			 	<tr ng-repeat="const in getAllValue(validationResult.detections[key])">
     			 		<td>{{const.path}}</td>
     			 		<td>{{const.description}}</td>
     			 		<td>{{const.line}}</td>
     			 	</tr>
     			 </tbody>
     			 </table>
 			 	</uib-tab>
					<uib-tab ng-repeat="(key, value) in validationResult.detections[key]">
     				 <uib-tab-heading>
        				<span class="badge">{{value.length}}</span> {{key}}
     			 	</uib-tab-heading>
    			 	<table class="table table-striped table-bordered">
     			 <thead class="tbl-header" style="background-color: #4c70bb !important;">
     			 	<th>Path</th>
     			 	<th>Description</th>
     			 	<th>Line#</th>
     			 </thead>
     			 <tbody>
     			 
     			 	<tr ng-repeat="const in value">
     			 		<td>{{const.path}}</td>
     			 		<td>{{const.description}}</td>
     			 		<td>{{const.line}}</td>
     			 	</tr>
     			 </tbody>
     			 </table>
 			 	</uib-tab>
  				</uib-tabset>
  				</uib-tab>
  				</uib-tabset>
  				</div>
</script>
<script type="text/ng-template" id="validationInfo.html">
    <div class="modal-header ng-scope">
                <span style="font-weight: bold; font-size: 20px">
                    Validation Result Information
                </span>
                <span class="pull-right">
                     <button class="btn btn-xs btn-primary" ng-click="close()"><i class="fa fa-times"></i>Close</button>
                </span>
    </div>
    <div class="modal-body">
        <div class="validation-result-info-content">
	<h4>Classification of Validation Detections</h4>
	<hr>
	<table class="table table-striped table-bordered table-condensed">
		<thead style="background-color:#436BEC">
			<tr>
				<th>Category</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Errors</td>
				<td>
					Indicates non-conformance to a requirement. Errors do constitute a failed validation. An EHR Product will fail certification if any of the validation reports indicate an Error (unless the Error can be proved to be a false negative; NIST can be consulted to remediate).
				</td>
			</tr>
			
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Warnings</td>
				<td>
					Provides information about potential missing support for a requirement or recommendation. Warnings do not constitute a failed validation.
				</td>
			</tr>
			
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Alerts</td>
				<td>
					Provides information about how the validation verifies or does not verify requirements. For example, the specification may provide a value set binding to an element but the value set is empty. Therefore, the user is alerted to the fact that no meaningful validation can be performed. Alerts do not constitute a failed validation.
 				</td>
			</tr>
			
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Affirmatives</td>
				<td>
					Provides an indication of a positive outcome to a validation assertion. Affirmatives display only as user preference, not by default.
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div style="margin-bottom: 20px">
	<h4>Detection Categories: Structure Validation</h4>
	<hr>
	<table class="table table-striped table-bordered table-condensed">
		<thead style="background-color:#436BEC">
			<tr>
				<th>Category</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">R-Usage</td>
				<td>Issued when "Required" element is missing.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">X-Usage</td>
				<td>Issued when a "Not Supported" element is present.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">W-Usage</td>
				<td>Issued when a HL7 withdrawn element is present.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">RE-Usage
				</td>
				<td>Issued when a "Required or Empty" element is missing.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Cardinality</td>
				<td>Issued when either the minimal or the maximal cardinality is violated.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Length</td>
				<td>Issued when the specified data element length is violated.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Format</td>
				<td>Issued when the data element format is violated. Format is derived from the data type.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Extra</td>
				<td>Issued when a complex element has extra children.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">UnescapedSeparator</td>
				<td>Issued when a primitive element contains un-escaped separators.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Unexpected</td>
				<td>Issued for an unexpected segment at a specific position in the message.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">InvalidContent</td>
				<td>Issued for every line in the message instance which doesn't represent a valid segment definition.</td>
			</tr>
		</tbody>
	</table>
</div>


<div style="margin-bottom: 20px">
	<h4>Detection Categories: Content Validation</h4>
	<hr>
	<table class="table table-striped table-bordered table-condensed">
		<thead style="background-color:#436BEC">
			<tr>
				<th>Category</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Constraint Failure</td>
				<td>Issued for a failed constraint verification (associated with conformance statements).</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Content Failure</td>
				<td>Issued when content does not conform to test case specific data content constraints. <span style="color:red">See Test Data Categories for sub-categories and details.</span></td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Predicate Failure</td>
				<td>Issued for a failed predicate constraint verification. In essence is a Usage (R, X, W, RE) constraint failure where usage is determined by a conditional..</td>
			</tr>
		</tbody>
	</table>
</div>


<div style="margin-bottom: 20px">
	<h4>Detection Categories: Value Set Validation</h4>
	<hr>
	<table class="table table-striped table-bordered table-condensed">
		<thead style="background-color:#436BEC">
			<tr>
				<th>Category</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">EVS</td>
				<td>Issued when the code is in the value set but the usage is "E" (Excluded).</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">PVS</td>
				<td>Issued when the code is in the value set but the usage is "P" (Permitted).</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Code Not Found</td>
				<td>Issued when the code cannot be found in the value set.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">VS Not Found</td>
				<td>Issued when the value set cannot be found in the value set library.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">Empty VS</td>
				<td>Issued when the value set is empty.</td>
			</tr>
			<tr>
				<td style="background-color:rgb(198, 222, 255)">VS No Validation</td>
				<td>Issued when an excluded value set is encountered, i.e., the entire value set has been excluded from validation for one reason or another.</td>
			</tr>
		</tbody>
	</table>
</div></div><!-- end ngIf: appInfo.validationResultInfo != null -->
            <!-- ngIf: appInfo.validationResultInfo == null -->

</script>
<script type="text/ng-template" id="reportResult.html">
				<div>
				<div class="modal-header ng-scope">
               		 <span style="font-weight: bold; font-size: 20px">
                    Validation Report
               		 </span>
               	 	<span class="pull-right">
                     <button class="btn btn-xs btn-primary" ng-click="close()"><i class="fa fa-times"></i>Close</button>
                	</span>
   				</div>
   				 <br/>
				<div style="padding: center; max-height: 500px;	margin-left: 10px; overflow-y: scroll;">
					<ng-bind-html ng-bind-html="report"/>
				</div>
				</div>
			
</script>
