<div ui-tree>
    <ol ui-tree-nodes="" ng-model="igs">
        <li ng-repeat="ig in igs" ui-tree-node data-nodrag>
            <div ui-tree-handle  ng-class="{selected : this.$modelValue===activeModel,used:selectedTestStep&&selectedTestStep.integrationProfileId===this.$modelValue.id}">
                <span data-nodrag ng-click="toggle(this)" class="glyphicon glyphicon-plus" ng-class="{
                          'glyphicon glyphicon-plus': collapsed,
                          'glyphicon glyphicon-minus': !collapsed
                        }">
                  </span> <span ng-click="Activate(this);OpenIgMetadata(ig)"> <span class="badge label-info">IP</span> {{ig.metaData.title}}</span>
            </div>
            <ol ui-tree-nodes="" ng-model="ig.profile.messages.children" ng-if="!collapsed">
                <li ng-repeat="msg in ig.profile.messages.children" ui-tree-node>
                    <div ui-tree-handle ng-click="Activate(this);OpenMessageMetadata(msg)" ng-class="{selected : this.$modelValue===activeModel ,used:selectedTestStep&& selectedTestStep.conformanceProfileId===this.$modelValue.id || selectedTemplate.conformanceProfileId===this.$modelValue.id}">
                        <span ng-hide="selectedTestStep">[{{$index+1}}]<span class=" label-success badge">CP</span>{{msg.name}}</span>
                        <span context-menu="ApplyProfile" ng-hide="!selectedTestStep">[{{$index+1}}]<span class="label-success badge">CP</span>{{msg.name}}-{{msg.description}}</span>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>
<script type="text/ng-template" id="EditDocumentMetadata.html">
    <div ng-controller="TestPlanCtrl" ng-init="init()">
        <div class="row" style="margin-left:0px; margin-right: 20px">
            <div ng-show="igDocument.metaData !== null">
                <div class="page-header" style="margin-bottom: 20px">
                    <span class="header4">Document metaData</span>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.title.$invalid}">
                    <label class="col-md-2 control-label">Title</label>
                    <div class="controls col-md-10">
                        <input class="form-control" type="text" ng-disabled="true" ng-change="setDirty()" name="title" ng-model="igDocument.metaData.title" required>
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.subTitle.$invalid}">
                    <label class="col-md-2 control-label">Sub-Title</label>
                    <div class="controls col-md-10">
                        <input class="form-control" type="text" name="subTitle" ng-disabled="true" ng-change="setDirty()" ng-model="igDocument.metaData.subTitle">
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.identifier.$invalid}">
                    <label class="col-md-2 control-label">Project Identifier</label>
                    <div class="controls col-md-10">
                        <input type="text" name="identifier" disabled ng-change="setDirty()" class="form-control" ng-model="igDocument.metaData.identifier">
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.orgName.$invalid}">
                    <label class="col-md-2 control-label">Organization</label>
                    <div class="controls col-md-10">
                        <input class="form-control" type="text" name="orgName" ng-disabled="true" ng-change="setDirty()" ng-model="igDocument.metaData.orgName">
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.ext.$invalid}">
                    <label class="col-md-2 control-label">Extension</label>
                    <div class="controls col-md-10">
                        <input class="form-control" type="text" name="ext" ng-disabled="true" ng-change="setDirty()" ng-model="igDocument.metaData.ext">
                    </div>
                </div>
            </div>
            <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.specificationName.$invalid}">
                <label class="col-md-2 control-label">Specification</label>
                <div class="controls col-md-10">
                    <input class="form-control" type="text" name="specificationName" ng-disabled="true" ng-change="setDirty()" ng-model="igDocument.metaData.specificationName">
                </div>
            </div>
            <div class="form-group control-group" ng-disabled="true" ng-class="{'igl-has-error has-feedback' : editForm.status.$invalid}">
                <label class="col-md-2 control-label">Status</label>
                <div class="controls col-md-10">
                    <input class="form-control" type="text" name="status" ng-disabled="true" ng-change="setDirty()" ng-model="igDocument.metaData.status">
                </div>
            </div>
            <div class="form-group control-group" ng-disabled="true" ng-class="{'igl-has-error' : editForm.topics.$invalid}">
                <label class="col-md-2 control-label">Topics</label>
                <div class="controls col-md-10">
                    <input class="form-control" type="text" name="topics" ng-disabled="true" ng-change="setDirty()" ng-model="igDocument.metaData.topics">
                </div>
            </div>
            <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : editForm.date.$invalid}">
                <label class="col-md-2 control-label">Date Created</label>
                <div class="controls col-md-10">
                    <input type="text" name="date" disabled ng-change="setDirty()" class="form-control" ng-model="igDocument.metaData.date" required>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="MessageMetadata.html">
    <div class="page-header" style="margin-bottom: 20px">
        <span class="header4">Conformance Profile: {{message.name}} </span>
        <div>
            <div style="margin-top: 20px">
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.name.$invalid}">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="controls col-md-10">
                        <input class="form-control" type="text" disabled name="name" ng-change="setDirty()" ng-model="message.name" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.identifier.$invalid}">
                    <label class="col-md-2 control-label">Identifier</label>
                    <div class="controls col-md-10">
                        <input type="text" ng-change="setDirty()" name="identifier" class="form-control" ng-model="message.identifier" ng-disabled="true" required>
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.description.$invalid}">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="controls col-md-10">
                        <input class="form-control" type="text" name="description" ng-change="setDirty()" ng-model="message.description" ng-disabled="true">
                    </div>
                </div>
                <!--<div class="form-group control-group"-->
                <!--ng-class="{'igl-has-error' : editForm.messageOId.$invalid}">-->
                <!--<label class="col-md-2 control-label">Message OID</label>-->
                <!--<div class="controls col-md-10"><input type="text" disabled name="messageOId"-->
                <!--class="form-control"-->
                <!--ng-model="message.messageID" required></div>-->
                <!--</div>-->
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.messageType.$invalid}">
                    <label class="col-md-2 control-label">Message Type</label>
                    <div class="controls col-md-10">
                        <input type="text" disabled name="messageType" class="form-control" ng-model="message.messageType" required>
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.messageEvent.$invalid}">
                    <label class="col-md-2 control-label">Message Event</label>
                    <div class="controls col-md-10">
                        <input type="text" disabled name="messageEvent" class="form-control" ng-model="message.event" required ng-disabled="false">
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.messageStructID.$invalid}">
                    <label class="col-md-2 control-label">Message Structure ID</label>
                    <div class="controls col-md-10">
                        <input type="text" disabled name="messageStructID" class="form-control" ng-model="message.structID" required>
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.comment.$invalid}">
                    <label class="col-md-2 control-label">Comment</label>
                    <div class="controls col-md-10">
                        <textarea rows="3" cols="20" ng-disabled="true" ng-change="recordDatatypeChange('message','edit',message.id,'message', message.comment)" name="comment" id="comment" class="form-control" ng-model="message.comment" />
                    </div>
                </div>
                <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : datatypeForm.text.$invalid}">
                    <label class="col-md-2 control-label">Definition Text</label>
                    <div class="controls col-md-10">
                        <div ng-if="!true">
                            <textarea froala="froalaEditorOptions" ng-model="message.usageNote" name="text" id="text" ng-change="setDirty()"></textarea>
                        </div>
                        <div ng-if="true">
                            <div class="fr-view">
                                <div froala-view="message.usageNote"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</script>
