<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ui-tree ="treeOptions">
	<ol ui-tree-nodes="" ng-model="testplans"  data-empty-placeholder-enabled>
		<li ng-repeat="test in testplans" ui-tree-node data-type="root" >
			<div ui-tree-handle class="testPlan" data-type="root" data-empty-placeholder-enabled>
				<div context-menu="testPlanOptions">
            		<span  data-nodrag ng-click="toggle(this)" class="glyphicon glyphicon-triangle-bottom" ng-class="{'glyphicon-triangle-right': collapsed, 'glyphicon-triangle-bottom': !collapsed}">
					</span>
        	
        			<span class="glyphicon glyphicon-folder-open draggable">
        			</span>
        			
 					<span data-nodrag ng-class="{selected : this.$modelValue===activeModel}" ng-click="Activate(this); selectTestPlan(test);">	{{test.name}} </span>
 				</div>
      		</div>

			<ol ui-tree-nodes="" ng-model="test.testcasegroups" data-type="testcasegroups" ng-if="!collapsed" data-empty-placeholder-enabled>
        		<li ng-repeat="group in test.testcasegroups " ui-tree-node data-type="testcasegroup" data-empty-placeholder-enabled>
          			<div ui-tree-handle  class="testGroup" data-nodrop-enabled="true" class="ui-tree-handle" >
          				<div context-menu="testGroupOptions">
          					<span data-nodrag  ng-click="toggle(this)" class="glyphicon glyphicon-triangle-bottom" ng-class="{'glyphicon-triangle-right': collapsed, 'glyphicon-triangle-bottom': !collapsed}"></span>
        
        					<span class="glyphicon glyphicon-shopping-cart draggable"></span>
                			<span data-nodrag ng-class="{selected : this.$modelValue===activeModel}" ng-click="Activate(this); selectTestCaseGroup(group);">[{{group.position}}]  {{group.name}} </span>
         				</div>
          			</div>
         			
         			<ol ui-tree-nodes="" ng-model="group.testcases" data-type="grouptestcases" ng-if="!collapsed"  data-empty-placeholder-enabled>
        				<li ng-repeat="case in group.testcases " ui-tree-node data-type="testcase"  data-empty-placeholder-enabled>
          					<div ui-tree-handle  class="testGroupCase" ng-click="Activate(this)">
          						<div context-menu="testCaseOptions">
       								<span data-nodrag ng-click="toggle(this)" class="glyphicon glyphicon-triangle-bottom" ng-class="{
          								'glyphicon-triangle-right': collapsed,
          								'glyphicon-triangle-bottom': !collapsed
        								}">
        							</span>
         							<span class="glyphicon glyphicon-book draggable"></span>

        
          							<span data-nodrag ng-class="{selected : this.$modelValue===activeModel}" ng-click="Activate(this); selectTestCase(case);">[{{case.position}}] {{case.name}} </span>
          
          						</div>
          					</div>
          					
          					<ol ui-tree-nodes="" ng-model="case.teststeps" data-type="teststeps"  ng-if="!collapsed">

        						<li ng-repeat="step in case.teststeps " ui-tree-node data-type="teststep" >
          							<div  ui-tree-handle  class="testGroupCaseStep">
          								<div context-menu="testStepOptions">
          									<span  class="glyphicon glyphicon-floppy-disk draggable"></span>
          									<span  data-nodrag ng-click="Activate(this); selectTestStep(step);" ng-class="{selected : this.$modelValue===activeModel}">
          										[{{step.position}}] {{step.name}}
          									</span>
          								</div>
          							</div>
        						</li>
      						</ol>
       						
       						<div ui-tree-handle  data-type="grouptestcases" style="height: 20px;    cursor: move; font-weight: 500;min-height: 0px;line-height: 0px;" class="testCase" ng-hide="collapsed"/>
        				</li>
      				</ol>
    			</li>
  			</ol>


      		<ol ui-tree-nodes="" ng-model="test.testcases"  data-type="testcases" ng-if="!collapsed"  data-empty-placeholder-enabled> 
        		<li ng-repeat="testcase in test.testcases " ui-tree-node   data-type="testcase" ng-class="{ active :true}" data-empty-placeholder-enabled>
          			<div ui-tree-handle class="testCase">
    					<div context-menu="testCaseOptions">
        					<span data-nodrag ng-click="toggle(this)" class="glyphicon glyphicon-triangle-bottom" ng-class="{
          						'glyphicon-triangle-right': collapsed,
          						'glyphicon-triangle-bottom': !collapsed }">
         					</span>

         					<span  class="glyphicon glyphicon-book draggable"></span>
            				<span data-nodrag ng-class="{selected : this.$modelValue===activeModel}" ng-click="Activate(this)"> [{{testcase.position}}] {{testcase.name}} </span>
         				</div>
         			</div>
          			<ol ui-tree-nodes="" ng-model="testcase.teststeps" data-type="teststeps" ng-if="!collapsed" data-empty-placeholder-enabled>
               			<div  ui-tree-handle/>
              			<li ng-repeat="step in testcase.teststeps" ui-tree-node  data-type="teststep" class="testStep" >
                    		<div ui-tree-handle>
                    			<div context-menu="testStepOptions">
                					<span  class="glyphicon glyphicon-floppy-disk draggable"></span>
                   					</span>
                        			<span data-nodrag ng-class="{selected : this.$modelValue===activeModel}" ng-click="Activate(this)">  [{{step.position}}]  {{step.name}}  </span>
                    			</div>
                    		</div>
                 		</li>
              		</ol>
               		<div  ui-tree-handle  data-type="testcases" style="height: 20px;    cursor: move; font-weight: 500;min-height: 0px;line-height: 0px;" class="testCase" ng-hide="collapsed"/>
        		</li>
      		</ol>
		</li>
	</ol>
</div>

