<style id="antiClickjack">
body {
    display: none !important;
}


.handle-custom{
	background-color: red;
}
</style>
<script type="text/javascript">
if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
} else {
    top.location = self.location;
}
</script>
<div ui-tree="treeOptions">
    <ol ui-tree-nodes="" ng-model="testplans">
        <li ng-repeat="test in testplans" ui-tree-node data-type="childrens">
            <div ui-tree-handle data-type="childrens">
                <div context-menu="testPlanOptions" data-type="childrens" style="margin-left:5px;">
                    <span data-nodrag ng-click="toggle(this)" class="glyphicon glyphicon-plus" ng-class="{'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed}"/>
                    <span class="label label-sub-component label-icon">PLAN</span>
                    <span data-nodrag ng-class="{selected1 : this.$modelValue===activeModel}" ng-click="Activate(this); selectTestPlan(test);">
						<span ng-show="test.isChanged" style="font-style: italic;color: red;">{{test.name}}</span>
                        <span ng-show="!test.isChanged">{{test.name}}</span>
                        <i ng-show="this.$modelValue===activeModel" class="fa fa-pencil fa-fw"></i>
                    </span>
                </div>
            </div>
            <div ng-if="test.children.length>0">
                {{updatePositions(test.children)}}
            </div>
            <ol ui-tree-nodes="" ng-model="test.children" data-type="childrens">
                <li ng-repeat="child in test.children | orderBy :'position'" ui-tree-node data-type="child" class="testGroup">

                    <div ui-tree-handle style="margin-left:7px;" ng-if="child.hasOwnProperty( 'testcases') " data-type="group">
                        <div context-menu="testGroupOptions " data-type="group ">
                            <span data-nodrag ng-click="toggle(this); print(this) " class="glyphicon glyphicon-plus " ng-class="{ 'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed} "/>
                            <span class="label label-success label-icon ">GROUP</span>
                            <span data-nodrag ng-class="{selected1 : this.$modelValue===activeModel} " ng-click="Activate(this); selectTestCaseGroup(child); ">
                                <span ng-show="child.isChanged" style="font-style: italic;color: red;">[{{child.position}}]{{child.name}}</span>
                                <span ng-show="!child.isChanged">[{{child.position}}]{{child.name}}</span>
                                <i ng-show="this.$modelValue===activeModel" class="fa fa-pencil fa-fw"></i>
                            </span>
                        </div>
                    </div>

                    <div ui-tree-handle style="margin-left:7px;" ng-if="child.hasOwnProperty('teststeps')" data-type="case">
                        <div context-menu="testCaseOptions" data-type="case">
                            <span data-nodrag ng-click="toggle(this)" class="glyphicon glyphicon-plus" ng-class="{'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed}"/>
                            <span class="label label-component label-icon draggable">CASE</span>
                            <span data-nodrag ng-class="{selected1 : this.$modelValue===activeModel}" ng-click="Activate(this); selectTestCase(child)">
                                <span ng-show="child.isChanged" style="font-style: italic;color: red;">[{{child.position}}]{{child.name}}</span>
                                <span ng-show="!child.isChanged">[{{child.position}}]{{child.name}}</span>
                                <i ng-show="this.$modelValue===activeModel" class="fa fa-pencil fa-fw"></i>
                            </span>
                        </div>
                    </div>

                    <ol ui-tree-nodes="" ng-model="child.testcases" ng-if="child.hasOwnProperty('testcases')" data-type="group" >
                        <li  ng-hide="$parentNodeScope.collapsed" ng-repeat="case in child.testcases  | orderBy :'position'" ui-tree-node data-type="case">
                            <div ui-tree-handle style="margin-left:14px;" ng-click=" Activate(this) ">
                                <div context-menu="testCaseOptions">
                                    <span data-nodrag ng-click="toggle(this);print(this) " class="glyphicon glyphicon-plus " ng-class="{ 'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed } "/>
                                    <span class="label label-component label-icon draggable ">CASE</span>
                                    <span data-nodrag ng-class="{selected1 : this.$modelValue===activeModel} " ng-click="Activate(this); selectTestCase(case); ">
                                        <span ng-show="case.isChanged" style="font-style: italic;color: red;">[{{case.position}}]{{case.name}}</span>
                                        <span ng-show="!case.isChanged">[{{case.position}}]{{case.name}}</span>
                                        <i ng-show="this.$modelValue===activeModel" class="fa fa-pencil fa-fw"></i>
                                    </span>
                                </div>
                            </div>
                            <ol ui-tree-nodes=" " ng-model="case.teststeps " data-type="case" ng-if ="!collapsed">
                                <li ng-repeat="step in case.teststeps | orderBy :'position'" ui-tree-node data-type="step">
                                    <div ui-tree-handle style="margin-left:21px;">
                                        <div context-menu="testStepOptions ">
                                            <span class="label label-segment label-icon draggable ">STEP</span>
                                            <span data-nodrag ng-click="Activate(this); selectTestStep(step); " ng-class="{selected1 : this.$modelValue===activeModel, used : this.$modelValue.conformanceProfileId===message.id||this.$modelValue.integrationProfileId===igdocument.id || this.$modelValue.conformanceProfileId===selectedTemplate.conformanceProfileId,none : !this.$modelValue.conformanceProfileId } ">
                                                <span ng-show="step.isChanged" style="font-style: italic;color: red;">[{{step.position}}]{{step.name}}</span>
                                                <span ng-show="!step.isChanged">[{{step.position}}]{{step.name}}</span>
                                                <i ng-show="this.$modelValue===activeModel" class="fa fa-pencil fa-fw"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <div ui-tree-handle class="handle-custom" data-type="case"/> 

                        </li>
                    </ol>
                    <!-- <div ui-tree-handle data-type="group"/> -->

                    <ol ui-tree-nodes=" " ng-model="child.teststeps " data-type="case" ng-if ="child.teststeps && !collapsed" > 
                        <li ng-repeat="step in child.teststeps | orderBy :'position'" ui-tree-node data-type="step">
                            <div ui-tree-handle style="margin-left:21px;">
                                <div context-menu="testStepOptions">
                                    <span class="label label-segment label-icon draggable ">STEP</span>
                                    <span data-nodrag ng-click="Activate(this); selectTestStep(step); " ng-class="{selected1 : this.$modelValue===activeModel, used : this.$modelValue.conformanceProfileId===message.id||this.$modelValue.integrationProfileId===igdocument.id || this.$modelValue.conformanceProfileId===selectedTemplate.conformanceProfileId } ">
                                        <span ng-show="step.isChanged" style="font-style: italic;color: red;">[{{step.position}}]{{step.name}}</span>
                                        <span ng-show="!step.isChanged">[{{step.position}}]{{step.name}}</span>
                                        <i ng-show="this.$modelValue===activeModel" class="fa fa-pencil fa-fw"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ol>
                     	<div ui-tree-handle class="handle-custom" data-type="case" ng-if="child.teststeps && !collapsed"/> 
                </li>
            </ol>
        </li>
    </ol>
</div>
