<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ui-tree="treeOptions">
	<ol ui-tree-nodes="" ng-model="testplans">
		<li ng-repeat="test in testplans" ui-tree-node data-type="childrens">
			<div ui-tree-handle data-type="childrens">
				<div context-menu="testPlanOptions" data-type="childrens">
					<span data-nodrag ng-click="this.toggle(this)"
						class="glyphicon glyphicon-triangle-bottom"
						ng-class="{'glyphicon-triangle-right': collapsed, 'glyphicon-triangle-bottom': !collapsed}">
					</span> <span class="label label-sub-component label-icon">T</span> </span> <span
						data-nodrag ng-class="{selected : this.$modelValue===activeModel}"
						ng-click="Activate(this); selectTestPlan(test);">
						{{test.name}}</span>
				</div>
			</div>

			<ol ui-tree-nodes="" ng-model="test.children" data-type="childrens"
				ng-if="!collapsed">


				<li ng-repeat="child in test.children" ui-tree-node
					data-type="child" class="testGroup">


					<div ui-tree-handle data-nodrop-enabled="true"
						ng-if="child.hasOwnProperty('testcases')" data-type="group">
						<div context-menu="testGroupOptions" data-type="group">
							<span data-nodrag ng-click="toggle(this)"
								class="glyphicon glyphicon-triangle-bottom"
								ng-class="{'glyphicon-triangle-right': collapsed, 'glyphicon-triangle-bottom': !collapsed}"></span>

							<span class="label label-success label-icon">G</span> <span
								data-nodrag
								ng-class="{selected : this.$modelValue===activeModel}"
								ng-click="Activate(this); selectTestCaseGroup(child);">[{{child.position}}]{{child.name}}{{collapsed}}</span>
						</div>

					</div>

					<div ui-tree-handle data-nodrop-enabled="true"
						ng-if="child.hasOwnProperty('teststeps')" data-type="case"
						style="">
						<div context-menu="testCaseOptions" data-type="case">
							<span data-nodrag ng-click="toggle(this)"
								class="glyphicon glyphicon-triangle-bottom"
								ng-class="{'glyphicon-triangle-right': collapsed, 'glyphicon-triangle-bottom': !collapsed}"></span>
							<span class="label label-component label-icon draggable">C</span>
							<span data-nodrag
								ng-class="{selected : this.$modelValue===activeModel}"
								ng-click="Activate(this); selectTestCase(child);">[{{child.position}}]{{child.name}}</span>
						</div>

					</div>





					<ol ui-tree-nodes="" ng-model="child.testcases"
						ng-if="!collapsed || child.hasOwnProperty('testcases')"
						data-type="group">
						<li ng-repeat="case in child.testcases " ui-tree-node
							data-type="case">
							<div ui-tree-handle ng-click="Activate(this)">
								<div context-menu="testCaseOptions">
									<span data-nodrag ng-click="toggle(this)"
										class="glyphicon glyphicon-triangle-bottom"
										ng-class="{
          								'glyphicon-triangle-right': collapsed,
          								'glyphicon-triangle-bottom': !collapsed
        								}">
									</span> <span class="label label-component label-icon draggable">C</span>


									<span data-nodrag
										ng-class="{selected : this.$modelValue===activeModel}"
										ng-click="Activate(this); selectTestCase(case);">[{{case.position}}]
										{{case.name}}</span>

								</div>
							</div>

							<ol ui-tree-nodes="" ng-model="case.teststeps" ng-if="!collapsed"
								data-type="case">

								<li ng-repeat="step in case.teststeps " ui-tree-node
									data-type="step">
									<div ui-tree-handle>
										<div context-menu="testStepOptions">
											<span class="label label-segment label-icon draggable">S</span>
											<span data-nodrag
												ng-click="Activate(this); selectTestStep(step);"
												ng-class="{selected : this.$modelValue===activeModel}">
												[{{step.position}}] {{step.name}} </span>
										</div>
									</div>
								</li>
							</ol>

						</li>
					</ol>




					<ol ng-if="child.hasOwnProperty('teststeps')" ui-tree-nodes=""
						ng-model="child.teststeps" data-type="case"
						ng-if="!collapsed child.hasOwnProperty('teststeps') ">

						<li ng-repeat="step in child.teststeps " ui-tree-node
							data-type="step" class="testStep">
							<div ui-tree-handle>
								<div context-menu="testStepOptions">
									<span class="label label-segment label-icon draggable">S</span>
									<span data-nodrag
										ng-click="Activate(this); selectTestStep(step);"
										ng-class="{selected : this.$modelValue===activeModel}">
										[{{step.position}}]{{step.name}} </span>
								</div>
							</div>
						</li>
					</ol>


				</li>






			</ol>
	</ol>


</div>

