<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container" ng-controller="TestPlanCtrl" ng-init="initTestPlans()">

<div ng-show="isAuthenticated()">
    <div ng-show="!isPending()">
        <div id="testplan-header">
            <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="createNewTestPlan()"><i class="fa fa-plus"></i>
                        Create New Test Plan
                    </button>
                    <button title="Save Changes" type="button" class="btn btn-sm btn-success" ng-click="saveAllChangedTestPlans()" ng-disabled="!isChanged">
                        <span><i class="fa fa-check fa-fw"></i> Save</span>
                    </button>
        </div>
        </div>
        <div id="testplan-main">
            <div class="row">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="accordi.igList" class="panel-level1">
                        <uib-accordion-heading class="test">
                        <span style="color:#ffec9d; font-weight: bold;">
                        <i class="fa" ng-class="{'fa-caret-down': accordi.igList, 'fa-caret-right': !accordi.igList}"></i>
                        <i class="fa fa-file-text-o fa-fw"></i> Test Plan List</span>
                        </uib-accordion-heading>
                        <div ng-include="'views/edit/listTP.html'"></div>
                    </uib-accordion-group>

                    <uib-accordion-group is-open="accordi.igDetails" panel-class="panel-level1">
                        <uib-accordion-heading>
                    <span style="color:#ffec9d; font-weight: bold;">
                        <i class="fa" ng-class="{'fa-caret-down': accordi.igDetails, 'fa-caret-right': !accordi.igDetails}"></i>
                        <i class="fa fa-pencil fa-fw"></i>Edit Test Plan</span>
                        </uib-accordion-heading>
                        <div ng-include="'views/edit/editTP.html'"></div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>

    <div style="font-size: 18px;text-align: center" ng-show="isPending()">
        <div msg key='account.pendingSection'></div>
    </div>

</div>

<script type="text/ng-template" id="ConfirmTestPlanDeleteCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the TestPlan? This operation is irreversible</p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" ng-disabled="loading" ng-click="cancel()">
            <span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="deleteTestPlan()">
            <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
        <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
            <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>
        </div>
    </div>
    </div>
</script>

<div ng-show="!isAuthenticated()" style="font-size: 18px;text-align: center">
    <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You
        can also <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
</div>



<script type="text/ng-template" id="RichTextCtrl.html">
    <div class="modal-header modal-wide">
        <h3 class="modal-title">{{editorTarget.obj.position}} . {{editorTarget.obj.name}} :
            {{editorTarget.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-if="!editorTarget.disabled">
                    <textarea froala="froalaEditorOptions" ng-model="editorTarget.obj[editorTarget.key]"
                              id="globalEditor"
                              name="content"
                              ng-change="recordChanged()"></textarea>
                </div>
                <div ng-if="editorTarget.disabled">
                    <div froala-view="editorTarget.obj[editorTarget.key]"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()"><span><i class="fa fa-times fa-fw">
            &nbsp; </i>Close</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="InputTextCtrl.html">
    <div class="modal-header">
        <h3 ng-show="editorTarget.obj.type === 'segmentRef'">
            {{editorTarget.obj.position}}.{{segmentsMap[editorTarget.obj.ref].name}}:{{segmentsMap[editorTarget.obj.ref].description}}</h3>

        <h3 ng-show="editorTarget.obj.type === 'group'">{{editorTarget.obj.position}}.{{editorTarget.obj.name}}</h3>

        <h3 ng-show="editorTarget.obj.type !=  'segmentRef' && editorTarget.obj.type !=  'group'"
            class="modal-title">{{editorTarget.obj.position}} . {{editorTarget.obj.name}} :
            {{editorTarget.title}}</h3>
    </div>
    <div class="modal-body">

        <form class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-md-12">
            <textarea rows="5"  type="text" ng-disabled="editorTarget.disabled" style="width:100%;" autofocus
                      name="inputEditor" class="form-control" ng-model="editorTarget.obj[editorTarget.key]"
                    ></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-click="close()"><span><i class="fa fa-check fa-fw">
            &nbsp; </i>Save</span>
        </button>
    </div>
</script>

</div>
